.detatch-absolute{
	position:absolute;
	top: 20px;
	width:60%;
	left: 20%;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
}

.rm-padding{
	padding: 0;
	margin: 0;
}

.img-holder{
    display:inline-block;
    background:#000;
}
.item-fade{
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    height:100%;
}

.CTA-wrap{
	position:absolute;
	bottom: 20px;
	left:30%;
	width:40%;
	z-index:1;
	text-align: center;
	background: #4A2D74;
	color: #fff;
}
.top-text{
	position:absolute;
	z-index: 1;
	left:10%;
	top:15%;
	color:white;
	display:none;
}
.top-text h1{
	font-size: 90px;
	line-height:100px;

}
.img-holder:hover .top-text{
	display: block;
}
.img-holder:hover .hover{
    opacity:0.3;
}
